<%- include('./partials/headers') %>

    <main class="filmMain">
        <div class= "filmForm" style="background-image: url(<%=foundFilm.banner_src%>);">
        </div>
        <% if (locals.user) { %>
            <form class="form" method="POST" action="/app/films/film/<%= foundFilm.id %>">
                    <button type="submit" class="btn bookmark" name="bookmark" id= "<%= foundFilm.id %>" value="<%= foundFilm.id %>"> Bookmark</button>
            </form>
        <% } %>
        <h1 class="filmTitle"><%=foundFilm.title%></h1> 
        <p>Director : <%=foundFilm.director%><br>
        Release date : <%=foundFilm.release_date%><br>
        Duration : <%=foundFilm.duration%> mins<br>
        <%=foundFilm.description%></p>
    </main>

<%- include('./partials/footers') %>